body {
    background-color: #f2f4f7;;
}

#white_background {
    background-color: white;
    padding: 0px;
    max-width: 1024px;
    min-height: 1024px;
}

#navbar {
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar-default {
    box-shadow: none;
    border: none;
    margin-bottom: 0px;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
 .navbar-right {
     padding: 10px;
 }

.navbar-left {
     padding: 10px;
 }

input {
    display: block;
    margin-bottom: 10px;
}

#login_form {
    margin: auto;
    width: 50%;
    border: 3px solid;
    border-color: #cce6ff;
    padding: 15px;
    padding-left: 30px;
}

.alert {
    margin: 0px;
    display:block;
}