{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.404'|trans }}
{% endblock %}

{% block body %}
    <h1>Uuups!</h1>
    <p>
        Szermierka klasyczna jest sportem ekstremalnym, rozwijającym się równolegle do szermierki sportowej. Posiada własne mistrzostwa, zawody i szczegółowy regulamin ich rozgrywania.
        Przykro nam, ale strona, której szukasz nie została znaleziona!
    </p>
{% endblock %}
