{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.home'|trans }}
{% endblock %}

{% block body %}
    <h1>
        Baza zawodów nowoczesnej szermierki klasycznej.
    </h1>
    <h2>Nowoczesna szermierka klasyczna</h2>
    <p>
        Szermierka klasyczna jest sportem ekstremalnym, rozwijającym się równolegle do szermierki sportowej. Posiada własne mistrzostwa, zawody i szczegółowy regulamin ich rozgrywania.
        Zasady podporządkowane są założeniu, że każda walka musi być przeprowadzona tak, jakby broń była ostra. Walka na poziomie zawodniczym, jest walką kontaktową, pozwala na użycie
        innych technik, niż tylko trafienie bronią
    </p>
    <h2>Kategorie</h2>
    <p>
        Szabla, szpada i rapier to trzy kategorie rozgrywane na zawodach. Miejsca obliczane są w kategorii open (kobiety i mężczyźni) oraz w kategorii kobiet (wyłącznie kobiety).
    </p>
{% endblock %}
