{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.home'|trans }}
{% endblock %}

{% block body %}
    <h2>Nowoczesna szermierka klasyczna</h2>
    <p>
        Szermierka klasyczna jest sportem ekstremalnym, rozwijającym się równolegle do szermierki sportowej. Posiada własne mistrzostwa, zawody i szczegółowy regulamin ich rozgrywania.
        Zasady podporządkowane są założeniu, że każda walka musi być przeprowadzona tak, jakby broń była ostra. Walka na poziomie zawodniczym, jest walką kontaktową, pozwala na użycie
        innych technik, niż tylko trafienie bronią
    </p>
    <br>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q_2yczAUnig?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <h2>Kategorie</h2>
    <p>
        Szabla, szpada i rapier to trzy kategorie rozgrywane na zawodach. Miejsca obliczane są w kategorii open (kobiety i mężczyźni) oraz w kategorii kobiet (wyłącznie kobiety).
    </p>
{% endblock %}
