body {
    background-color: #f2f4f7;
}

#white_background {
    background-color: white;
    padding: 0px;
    max-width: 1024px;
    min-height: 1024px;
}

#navbar {
    background-color: white;
}

#content {
    padding: 20px;
}
 .navbar-right {
     padding: 10px;
 }

.navbar-left {
     padding: 10px;
 }

input {
    display: block;
    margin-bottom: 10px;
}

#login_form {
    margin: auto;
    width: 50%;
    border: 3px solid #e6f2ff;
    padding: 15px;
    padding-left: 30px;
}